Consolidate references

From John Mattsson's review (https://mailarchive.ietf.org/arch/msg/ace/h85KdNLkMxqzCZjJlY-fGlPEyVw/):

> * “EST-coaps ([RFC9148])”
This is in parathesis, other references are not.
 
> * OLD “DTLS [[RFC6347](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC6347)] [[RFC9147](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC9147)]”
NEW “DTLS [[RFC6347](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC6347)]”
 
> RFC 6347 is obsoleted. I think the rule is to not refer to obsolete RFC unless needed.
 
> * ”instead of HTTP [[RFC9110](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC9110)] [[RFC9112](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC9112)] and TLS [[RFC8446](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC8446)]”
 
> Any reason that this is referring to HTTP/1.1 only? HTTP/2 and HTTP/3 seems like much better more modern options.
>
> *  I-D.ietf-cose-x509 has been published as RFC 9360
>
> * OLD: Section 4 of [[RFC6955](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC6955)]
NEW: Section 6 of [[RFC6955](https://www.ietf.org/archive/id/draft-ietf-ace-coap-est-oscore-02.html#RFC6955)]