Clarifications in Enrollment of Static DH Keys Section

Based on @EskoDijk 's review in https://mailarchive.ietf.org/arch/msg/ace/I70MHcCzSfPIy28lDqxEOcllgJw/:

4.8 Enrollment of Static DH Keys
 
>> … how the EST client enrolls a static DH key
See earlier comment about enrolling keys vs enrolling devices or certificates. Terminology is a bit unclear to me.
 
Paragraph 2: there are 2 SHOULD requirements here – it seems it’s in fact only 1 requirement? Reduce to one SHOULD, if possible. Also if the SHOULD is not followed, what are the alternatives?
 
>> In some cases, it may be beneficial …
Which cases? Maybe this is further detailed in the SP- references given later on?

Rename section to "Enrollment of Certificates with DH Keys"

OLD: 

The EST client attempting to enroll a DH key for a key usage operation other than digital signature SHOULD use an alternative proof-of-possession algorithm:
The EST client SHOULD prepare the PKCS#10 object and compute a MAC, replacing the signature, over the certification request information by following the steps in {{Section 6 of RFC6955}}.

NEW:
The EST client attempting to enroll a DH key for a key usage operation other than digital signature can use an alternative proof-of-possession algorithm:
The EST client SHOULD prepare the PKCS#10 object and compute a MAC, replacing the signature, over the certification request information by following the steps in {{Section 6 of RFC6955}}.

Move the last paragraph starting with "In some cases" to be clear that it is an exception case to the SHOULD in the second paragraph.