Consolidate references

Based on @EskoDijk 's review in https://mailarchive.ietf.org/arch/msg/ace/I70MHcCzSfPIy28lDqxEOcllgJw/:

8.2  Informative References
 
It looks like some references need to be normative. There’s some IETF guidance for this case that any optionally implemented function requires the spec for that function to be Normatively referenced. Because the one implementing this option needs to follow that specification and normatively implement it.  “Informative” is purely background info that an implementer would not have to implement even with all options enabled.  See e.g. https://datatracker.ietf.org/doc/statement-iesg-iesg-statement-normative-and-informative-references-20060419/
 
[I-D.ietf-core-oscore-edhoc]
 
[I-D.ietf-cose-cbor-encoded-cert]
-> normative, because using these CBOR encoded certs is an option in the implementation.
 
[RFC8446]
-> normative, because it looks like the client could use TLS, and for sure the EST server could use TLS.
 
[RFC7627]
-> Normative, in case using TLS is OPTIONAL for an implementation. (E.g. so far in the draft it looks like an EST client could use TLS, or the leg between Proxy and EST server could use TLS.)
 
[RFC9147]
-> normative since DTLS can be optionally used as extra transport security?
 
[RFC9360]
-> normative since it looks like a client or server can optionally use a certificate by reference. Assuming we want x5u to be the default option for this.
 
Some references are not used it seems:
 
[RFC2985] -> not used?
[RFC2986] -> not used?
[RFC5280] -> not used?
[RFC5869] -> not used?
[RFC5914] -> not used?
[RFC7627] -> not used?
 