Clarifications in Message Bindings section

Based on @EskoDijk 's review in https://mailarchive.ietf.org/arch/msg/ace/I70MHcCzSfPIy28lDqxEOcllgJw/:

> endpoints support delayed responses

Text here could refer to Section 4.7 of RFC 9148.
 
Final bullet: “EST URLs based on https:// are” -> this seems incorrect, it would probably need to be “EST-coaps URLs based on coaps:// are translated to coap:// , but with … “